<div class="index-debate">
  <ul>
    <% @debates.each do |debate| %>
    <li>
      <h3>議題：<%= link_to debate.title, debate_path(debate) %></h3>
      <p>詳細：<%= debate.body %></p>
    </li>
    <% end %>
  </ul>
</div>