<div class="new-debate">
  <h2>Add New Debate</h2>
  <p>新規議題を作成してください。</p>

  <%= form_for :post, url: debates_path do |f| %>
  <ul>
    <li>
      <%= f.text_field :title, placeholder: "ここに議題を入力してください。" %>
    </li>
    <li>
      <%= f.text_area :body, placeholder: "ここに議題の詳細を入力してください。" %>
    </li>
    <li>
      <%= f.submit "新規議題作成"%>
    </li>
  </ul>
  <% end %>
</div>