/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
ul, html, body, p, h1, h2, h3{
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100%;
}

.title a{
  font-size: 40px !important;
  font-weight: 700;
}

.title a:hover{
  border-bottom: solid 0px !important;
}

.top-menu {
  width: 100%;
  margin-bottom: 50px;
}

.top-menu ul {
  width: 70%;
  margin: 15px auto;
  display: flex;
  justify-content: flex-end;
}

.top-menu ul li:first-child {
  margin-right: auto;
  margin-top: 0 !important;
}

.top-menu ul li {
  margin-top: 8px;
}

.top-menu ul > li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  padding-bottom: 2px;
}

.top-menu ul > li a:hover {
  border-bottom: solid 4px #18F;
  color: #888;
}

.container {
  width: 60%;
  margin-left: 20%;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

.index-debate ul > li {
  margin-bottom: 30px;
  border-left: solid 8px #18F;
  box-shadow:0px 0px 8px 3px #ccc;
}

h3 {
  margin: 0 0 10px 15px;
  padding-top: 5px;
  font-size: 25px;
}

p {
  margin: 0 10px 5px 30px;
  font-size: 18px;
}

/* debate new.html.erb 用 */
.new-debate h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.new-debate p {
  color: #555;
  font-size: 15px;
  margin: 0 0 20px;
  padding: 0;
}

.new-debate input[type="text"], textarea {
  box-sizing: border-box;
  width: 550px;
  padding: 5px;
  margin-top: 25px;
}

.new-debate input[type="submit"] {
  padding: 10px;
  margin-top: 25px;
}

.new-debate textarea {
  height: 150px;
}

.error-new-debate {
  color: #F00 !important;
  margin: 0 !important;
  font-weight: bold;
}

.update-form {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  padding-bottom: 5px;
}

.update-form a {
  margin-right: 10px;
}
